# Core dependencies
xarray>=2023.11.0
rioxarray>=0.15.0
numpy>=1.26.2
pandas>=2.1.4
geopandas>=0.14.1
shapely>=2.0.2
pyproj>=3.6.1
zarr==3.0.3
scipy>=1.7.3

# Optional dependencies
dask>=2023.12.1
distributed>=2023.12.1
ipykernel>=6.27.1
python-dotenv>=1.0.0
ipyleaflet>=0.17.4

# External dependencies
arraylake==0.15.0
icechunk>=0.2.0


# Development dependencies
pytest>=7.4.0
pytest-cov>=4.1.0
black>=23.7.0
flake8>=6.1.0
mypy>=1.5.1