# Core dependencies
xarray>=2025.03.1
rioxarray>=0.15.0
numpy>=1.26.2
pandas>=2.1.4
geopandas>=0.14.1
shapely>=2.0.2
pyproj>=3.6.1
scipy>=1.7.3
s3fs>=2025.3.0
cf_xarray>=0.10.2
odc-geo >=0.4.10
dask-geopandas>=0.4.3
exactextract >= 0.2.1
rasterio>=1.4.3
gdal>=3.10.2
pyproj>=3.7.1

# Optional dependencies
dask>=2025.5.1
distributed>=2025.5.1
ipykernel>=6.27.1
python-dotenv>=1.0.0
ipyleaflet>=0.17.4

# External dependencies
arraylake>=0.15.0
icechunk>=0.2.7

# Development dependencies
pytest>=7.4.0
pytest-cov>=4.1.0
black>=23.7.0
flake8>=6.1.0
mypy>=1.5.1